@model List<ChildrenDaycare.Controllers.SlotController.SlotViewModel>
@{
    ViewData["Title"] = "DisplayForAll";
}


<h1>Available Slot:</h1>
<br />
<hr />
<br />
<table border="1">
    <!--Static row-->
    <tr style="background-color:yellow">
        <th>Slot ID</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Takecare Giver Name</th>
        <th>Price</th>
    </tr>
    <!--Dynamic row based on database-->
    @foreach (var singleslot in Model)
    {
        <tr>
            <td>@singleslot.SlotID</td>
            <td>@singleslot.SlotDate.ToString("yyyy-MM-dd")</td>
            <td>@singleslot.StartTime</td>
            <td>@singleslot.EndTime</td>
            <td>@singleslot.TakecareGiverName</td>
            <td>@singleslot.SlotPrice</td>
        </tr>
    }
</table>

