@model List<ChildrenDaycare.Controllers.SlotController.SlotViewModel>
@{
    ViewData["Title"] = "PersonalBooking";
}

<h1>Personal Booking:</h1>
<br />
<hr />
@if (ViewBag.msg != "")
{
    <span style="background-color:aquamarine">@ViewBag.msg</span>
}
<hr />
<br />
<table border="1">
    <!--Static row-->
    <tr style="background-color:yellow">
        <th>Slot ID</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Takecare Giver</th>
        <th>Child Fullname</th>
        <th>Child Age</th>
        <th>Child DOB</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    <!--Dynamic row based on database-->
    @foreach (var singleslot in Model)
    {
        <tr>
            <td>@singleslot.SlotID</td>
            <td>@singleslot.SlotDate.ToString("yyyy-MM-dd")</td>
            <td>@singleslot.StartTime</td>
            <td>@singleslot.EndTime</td>
            <td>@singleslot.TakecareGiverName</td>
            <td>@singleslot.ChildFullname</td>
            <td>@singleslot.ChildAge</td>
            <td>@singleslot.ChildDOB?.ToString("yyyy-MM-dd")</td>
            <td>@singleslot.SlotPrice</td>
            <td>
                <form method="post" asp-action="cancelbooking" asp-controller="Slot">
                    <input type="hidden" name="SlotID" value="@singleslot.SlotID" />
                    <button type="submit">Cancel</button>
                </form>
            </td>
        </tr>
    }
</table>

