@model List<ChildrenDaycare.Controllers.SlotController.SlotViewModel>
@{
    ViewData["Title"] = "PublicDisplay";
}

<div class="container py-2">
    <h3 class="mb-4">Available Slots</h3>
    <form class="mb-4">
        <div class="d-flex align-items-center gap-3">
            <label for="basic-url" class="form-label mb-0">Filter by date:</label>
            <input type="date" name="searchDate" pattern="\d{4}-\d{2}-\d{2}" class="form-control rounded w-auto" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
            <button type="submit" class="btn btn-primary rounded">Confirm</button>
        </div>
    </form>
    <table class="table table-hover align-middle">
        <thead>
            <tr>
            <th scope="col">Slot ID</th>
            <th scope="col">Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Takecare Giver</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        <!--Dynamic row based on database-->
        @foreach (var singleslot in Model)
        {
            <tr>
                <td class="py-4">@singleslot.SlotID</td>
                <td class="py-4">@singleslot.SlotDate.ToString("yyyy-MM-dd")</td>
                <td class="py-4">@singleslot.StartTime</td>
                <td class="py-4">@singleslot.EndTime</td>
                <td class="py-4">@singleslot.TakecareGiverName</td>
                <td class="py-4">@singleslot.SlotPrice</td>
                <td class="py-4">
                    <a asp-action="bookpage" asp-controller="Slot" asp-route-SlotID="@singleslot.SlotID" class="btn btn-primary btn-sm">
                        Book
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>