@model List<ChildrenDaycare.Controllers.SlotController.SlotViewModel>
@{
    ViewData["Title"] = "View schedule";
}

<div class="container py-2">
    <h3 class="mb-5">View schedule</h3>
    <div class="d-flex justify-content-between mb-4 align-items-end">
        <form>
            <div class="input-group d-flex align-items-center gap-3">
                <label for="basic-url" class="form-label mb-0">Filter by date:</label>
                <input type="date" name="searchDate" pattern="\d{4}-\d{2}-\d{2}" class="form-control rounded" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                <button type="submit" class="btn btn-primary rounded">Confirm</button>
            </div>
        </form>
    </div>
  <div class="table-wrapper table-responsive shadow border rounded-5">
    <table class="table table-hover align-middle">
      <thead class="bg-light">
        <tr>
            <th scope="col">Slot ID</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Child Fullname</th>
            <th scope="col">Child Age</th>
            <th scope="col">Child DOB</th>
            <th scope="col">Booker Name</th>
            <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <!--Dynamic row based on database-->
        @foreach (var singleslot in Model)
        {
            <tr>
                <td class="py-4">@singleslot.SlotID</td>
                <td class="py-4">@singleslot.SlotDate.ToString("yyyy-MM-dd")</td>
                <td class="py-4">
                  @{
                    var time = singleslot.StartTime + " - " + singleslot.EndTime;
                  }
                  @time
                </td>
                <td class="py-4">@singleslot.ChildFullname</td>
                <td class="py-4">@singleslot.ChildAge</td>
                <td class="py-4">@singleslot.ChildDOB?.ToString("yyyy-MM-dd")</td>
                <td class="py-4">@singleslot.BookerName</td>
                <td class="py-4">RM @singleslot.SlotPrice</td>
            </tr>
        }
      </tbody>
    </table>
  </div>
</div>