@model List<ChildrenDaycare.Areas.Identity.Data.ChildrenDaycareUser>
@{
    ViewData["Title"] = "DisplayUsers";
}

<h1>Display Users</h1>
<br />
<hr />
<br />
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Fullname</th>
        <th scope="col">Age</th>
        <th scope="col">Address</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">User Role</th>
        <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var user in Model)
    {
        <tr>
          
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.UserFullname</td>
            <td>@user.UserAge</td>
            <td>@user.UserAddress</td>
            <td>@user.UserDOB.ToShortDateString()</td>
            <td>
              <span class="badge text-bg-dark">@user.userrole</span>
            </td>
            <td>
              <a asp-action="Profile" asp-controller="User" asp-route-UserID="@user.Id">
                <button class="btn btn-primary btn-sm">View profile</button>
              </a>
            </td>
        </tr>
    }
  </tbody>
</table>

