@model List<ChildrenDaycare.Areas.Identity.Data.ChildrenDaycareUser>
@{
    ViewData["Title"] = "PendingApproval";
}

<div class="container py-2">
    <h3 class="mb-4">Pending Approval to Become a Takecare Giver</h3>
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th scope="col">Fullname</th>
                <th scope="col">Email</th>
                <th scope="col">Age</th>
                <th scope="col">Address</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">User Role</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td class="py-4">@user.UserFullname</td>
                    <td class="py-4">@user.Email</td>
                    <td class="py-4">@user.UserAge</td>
                    <td class="py-4">@user.UserAddress</td>
                    <td class="py-4">@user.UserDOB.ToShortDateString()</td>
                    <td class="py-4">
                        <span class="badge text-bg-dark">@user.userrole</span>
                    </td>
                    <td class="py-4">
                        <a asp-action="ApproveRequest" asp-controller="User" asp-route-UserID="@user.Id">
                            <button class="btn btn-primary btn-sm">Approve</button>
                        </a>
                        <a asp-action="RejectRequest" asp-controller="User" asp-route-UserID="@user.Id">
                            <button class="btn btn-danger btn-sm">Reject</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

