@model ChildrenDaycare.Areas.Identity.Data.ChildrenDaycareUser

@{
    ViewData["Title"] = "User Profile";
}

<div class="container">
    <div class="main-body py-2">    
        <h3 class="mb-4">@ViewData["Title"]</h3>
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                      <div class="avatar-container" id="avatar-container">
                          <!-- The avatar image will be displayed here -->
                          @{
                            var profilePictureExists = string.IsNullOrEmpty(@Model.ProfilePictureURL);
                            if (!profilePictureExists)
                            {
                              var cloudFrontImageUrl = "https://doc23p8eowmdf.cloudfront.net/images/" + @Model.S3Key;
                              <img id="avatar-preview" src="@cloudFrontImageUrl" alt="User" />
                            }
                            else
                            {
                              <img id="avatar-preview" src="~/user-placeholder.png" alt="User" />
                            }
                          }
                          <!-- Display the icon if the image is missing -->
                          <div class="avatar-icon" id="avatar-icon">
                              <i class="fa fa-user"></i>
                          </div>
                      </div>
                    <div class="mt-3">
                      <h4>@Model.UserFullname</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 fw-bold">User details</h6>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Role</h6>
                    </div>
                    <div class="col-sm-9">
                        <span class="badge text-bg-dark">@Model.userrole</span>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Age</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @Model.UserAge
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @Model.Email
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @Model.UserAddress
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Date of Birth</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @Model.UserDOB.ToString("yyyy-MM-dd")
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>